body{
    background-color: black;
    color: white;
}
.bloc_page img{
   max-width: 100%;
}
.top_home{
    background-image: url(https://i.pinimg.com/originals/7d/cf/54/7dcf546af59b140cfb6be51a3dddd827.jpg);
}

@media (min-width: 48em) {
.nav_bar li{
    list-style-type: none;
    background-color: transparent;
    font-size: 3em;
    margin-left: 10px;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Bellota', cursive;
    font-weight: bold;   
}
.nav_bar a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.nav_bar a:hover{
    opacity: 1;
    transition: 0.5s;
    max-width: 100%;
    font-size: 1.1em;
}
.nav_bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    
}
.home{
    display: flex;
}
header{
    padding-bottom: 16em;
}
.title1{
    font-size: 2em;
    text-align: center;
    padding-top: 6em;
}
.container{
    display: flex;
    flex-direction: column; 
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 56em 2em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 20%;
  }
 button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 26em 2em;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size: 1em;
  }
footer{
    text-align: center;

}
}